.customDropdownMenuFull {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
.customDropdownMenuSearching {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}
